body {
   text-align: center;
   background-color: black;
}

h1 {
   background-color: rgb(255, 145, 0);
   font-family: Impact;
   font-weight: 300;
   font-size: 60px;
}

.box {
   background-color: black;
   width: auto;
   margin: 0px auto;
   padding: 0px 25px 25px 25px;
}

button {
   display: inline-block;
   height: 30px;
   width: 30px;
   cursor: pointer;
   background-color: rgb(255, 145, 0);
   color: rgb(21, 21, 21);
   border: transparent;
}

button:hover {
   background-color: rgb(255, 170, 11)
}

.restart {
   height: 50px;
   width: 50px;
   cursor: pointer;
   background-color: rgb(255, 145, 0);
   color: rgb(75, 74, 74);
   border: transparent;
   background-color: rgb(87, 86, 86);
   border-radius: 5px;
   font-size: 24px;
   margin-bottom: 15px;
}


table {
   margin: auto;
   background-color: rgb(255, 145, 0);
   border-spacing: 2px;
}

.cell {
   height: 45px;
   width: 40px;
   background-color: rgb(36, 36, 36);
   border-radius: 5px;
   cursor: pointer;
}

.shown {
   font-family: impact;
   font-size: 24px;
   background-color: rgb(255, 145, 0);
   color: rgb(36, 36, 36)
}

.timer {
   display: inline-block;
   color: white;
   font-family: Impact;
   font-size: 30px;
   margin-right: 25px;
}

.mines-left {
   display: inline-block;
   color: white;
   font-family: Impact;
   font-size: 30px;
   margin-left: 25px;
}

.lives {
   display: inline-block;
   font-size: 26px;
   margin-right: 10px;
}

.levels button {
   height: 40px;
   width: 150px;
   color: rgb(4, 4, 4);
   border-radius: 5px;
   font-family: impact;
   font-weight: 200;
   font-size: 20px;
   margin-left: 25px;
   margin-bottom: 25px;
}

.hints {
   display: inline-block;
   font-size: 30px;
   margin-left: 10px;
   cursor: pointer;
}